@page "/"
@using TodoApp.Helpers
@using TodoApp.Models
@using TodoApp.Models.DataModels
@using TodoApp.Models.DataModels.Enums

<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn btn-primary" @onclick="TestDatabase">Click me</button>

@code {

    private void TestDatabase()
    {
        try
        {
    
            var todoRecords = DatabaseHelper.GetData<TodoRecord>();


        }
        catch (Exception ex)
        {

        }

    }
}
