@page "/"
@using TodoApp.Helpers
@using TodoApp.Models
@using TodoApp.Models.DataModels
@using TodoApp.Models.DataModels.Enums

<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn btn-primary" @onclick="TestDatabase">Click me</button>

@code {

    private void TestDatabase()
    {
        var createRecord = new TodoCreationRecord()
        {
            RepeatInterval = RepeatInterval.Daily,
            DaysBeforeReminder = 0,
            LastNotifyDateTime = DateTime.MinValue,
            RepeatFrequency = 1,
            TodoText = "Walk the dog",
            Active = true
        };


    }
}
