@page "/"
@using TodoApp.Helpers
@using TodoApp.Models
@using TodoApp.Models.DataModels
@using TodoApp.Models.DataModels.Enums

<table>
@foreach (var todo in DatabaseHelper.GetData<TodoRecord>().Where(x=> x.DisplayOnList()).OrderBy(x => x.CurrentTaskUrgency))
{
    <tr>
        <input type="checkbox"  class="todoChecker" />
        <h1>@todo.DisplayTodoText()</h1>

    </tr>
}
</table>